
<div class="table-responsive">
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th scope="col-auto">Id</th>
                <th scope="col">Nombre</th>
                <th scope="col">Laboratorio</th>
                <th scope="col">Activo</th>
                <th scope="col">Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let curso of cursos; let i = index" >
                <td>{{ curso.za_curso }}</td>
                <td>{{ curso.nombre_curso }}</td>
                <td>{{ curso.usa_laboratorio.data }}</td>
                <td>{{ curso.activo.data }}</td>
                <td>
                  <button class="btn btn-warning" (click)="editar(i)" title="editar"><em class="fa fa-pencil"></em></button>
                  <button class="btn btn-danger"  (click)="eliminar(i)" title="eliminar"><em class="fa fa-trash"></em></button>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<app-edit-curso
  [curso]="cursoSeleccionado"
  (onupdate)="onUpdateCurso()">
</app-edit-curso>
