<div class="app-body">
  <main class="main d-flex align-items-center">
    <div class="container">
      <div class="row">
        <div class="col-md-8 mx-auto">
          <div class="card-group">
            <div class="card p-4">
              <div class="card-body">

                <form (ngSubmit)="onSubmit()" [formGroup]="formLogin" id="form-login">
                  <h1>Iniciar sesión</h1>
                  <hr>
                  <div (click)="onCloseErrorAlert()" *ngIf="error" class="alert alert-danger fade show" role="alert">
                    {{error}}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>

                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="icon-user"></i></span>
                    </div>
                    <input formControlName="usuario" type="text" class="form-control" placeholder="Usuario" required>
                  </div>
                  <div class="input-group mb-4">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="icon-lock"></i></span>
                    </div>
                    <input formControlName="contrasena" type="password" class="form-control" placeholder="Contraseña" required>
                  </div>
                  <div class="row">
                    <div class="col-6">
                      <button  [disabled]="!formLogin.valid || procesandoLogin"
                               id="btn-login" form="form-login" class="btn btn-primary px-4">

                          <span *ngIf="procesandoLogin" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                          {{ textBtnLogin }}

                      </button>
<!--                      <input id="btn-login" [disabled]="!formLogin.valid"  type="submit" value="Entrar" class="btn btn-primary px-4" data-loading-text="<i class='fa fa-circle-o-notch fa-spin'></i> Autenticando" >-->
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>
