<div class="app-body">
  <main class="main d-flex align-items-center">
    <div class="container">
      <div class="row">
        <div class="col-md-8 mx-auto">
          <div class="card-group">
            <div class="card p-4">
              <div class="card-body">

                <form (ngSubmit)="onSubmit()" [formGroup]="formLogin">
                  <h1>Iniciar sesión</h1>
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="icon-user"></i></span>
                    </div>
                    <input formControlName="usuario" type="text" class="form-control" placeholder="Usuario" required>
                  </div>
                  <div class="input-group mb-4">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="icon-lock"></i></span>
                    </div>
                    <input formControlName="contrasena" type="password" class="form-control" placeholder="Contraseña" required>
                  </div>
                  <div class="row">
                    <div class="col-6">
                      <input [disabled]="!formLogin.valid"  type="submit" value="Entrar" class="btn btn-primary px-4">
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>
