<div class="table-responsive">
  <table class="table table-bordered table-hover">
    <thead>
    <tr>
      <th scope="col">Dia</th>
      <th scope="col">Curso</th>
      <th scope="col">Catedratico</th>
      <th scope="col">Inicio</th>
      <th scope="col">Fin</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let asig of asignaciones" (click)="onAsignacionClicked(asig)" [ngClass]="{'bg-info text-dark': asig == selected}">
      <td>{{ asig.dia.dia }}</td>
      <td>{{ asig.curso.nombre_curso }</td>
      <td>{{ asig.catedratico.nombres }}</td>
      <td>{{ asig.hora_inicio }}</td>
      <td>{{ asig.hora_fin }}</td>
    </tr>
    </tbody>
  </table>
</div>
