<div class="animated fadeIn">
  <div class="row">
    <div class="col-sm-6 col-lg-3" >
      <div class="card text-black " style="position: relative; left:0; top: auto; width: 100%; height:100%;">
        <div class="card-body pb-0">
      <div class="text-value text-center" style="margin-top: 30%" >Ingenieria En Sistemas</div>
          <br>
        <img src="assets/img/avatars/logo.png" alt="ING" style="margin-left: 15%">

      <div class="text-center" style="margin-top: 50%">Proyecto 1</div>

    </div>
  </div>
    </div><!--/.col-->

    <div class="col-sm-6 col-lg-3" >
          <div  style=" width: 300%; height:100%;">
              <img class="d-block w-10 15" src="assets/img/avatars/typewriter-801921_1920.jpg" width="80%" height="100%">
          </div>
    </div><!--/.col-->

  </div><!--/.row-->

          <br>
          <table class="table table-responsive-sm table-hover table-outline mb-0">
            <thead class="thead-light">
              <tr>
                <th class="text-center"><i class="icon-people"></i></th>
                <th>Nombre</th>
                <th class="text-center">Pais</th>
                <th class="text-center">Número de Carné</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="text-center">
                  <div class="avatar">
                    <img src="assets/img/avatars/f.png" class="img-avatar" alt="franz">
                    <span class="avatar-status badge-success"></span>
                  </div>
                </td>
                <td>
                  <div>Frank</div>
                </td>
                <td class="text-center">
                  <i class="flag-icon flag-icon-gt h4 mb-0" title="gt" id="gt"></i>
                </td>
                <td>
                  <div class="clearfix">

                    <div class="float-right">
                      <small class="text-muted" style="font-size:24px; text-align: center" >1490-06-11650</small>
                    </div>
                  </div>
                </td>
              </tr>
                <tr>
                    <td class="text-center">
                      <div class="avatar">
                        <img src="assets/img/avatars/j.png" class="img-avatar" alt="franz">
                        <span class="avatar-status badge-success"></span>
                      </div>
                    </td>
                    <td>
                      <div>Juan</div>
                    </td>
                    <td class="text-center">
                      <i class="flag-icon flag-icon-gt h4 mb-0" title="gt" id="gt"></i>
                    </td>
                    <td>
                      <div class="clearfix">

                        <div class="float-right">
                          <small class="text-muted" style="font-size:24px; text-align: center">1490-16-3283</small>
                        </div>
                      </div>
                    </td>


                  </tr><tr>
                      <td class="text-center">
                        <div class="avatar">
                          <img src="assets/img/avatars/a.png" class="img-avatar" alt="franz">
                          <span class="avatar-status badge-success"></span>
                        </div>
                      </td>
                      <td>
                        <div>Allam</div>
                      </td>
                      <td class="text-center">
                        <i class="flag-icon flag-icon-gt h4 mb-0" title="gt" id="gt"></i>
                      </td>
                      <td>
                        <div class="clearfix">

                          <div class="float-right">
                            <small class="text-muted" style="font-size:24px; text-align: center">1490-16-1527</small>
                          </div>
                        </div>
                      </td>


                    </tr><tr>
                        <td class="text-center">
                          <div class="avatar">
                            <img src="../../../assets/img/avatars/h.png" class="img-avatar" alt="franz">
                            <span class="avatar-status badge-success"></span>
                          </div>
                        </td>
                        <td>
                          <div>Hancel</div>
                        </td>
                        <td class="text-center">
                          <i class="flag-icon flag-icon-gt h4 mb-0" title="gt" id="gt"></i>
                        </td>
                        <td>
                          <div class="clearfix">

                            <div class="float-right">
                              <small class="text-muted" style="font-size:24px; text-align: center">1490-16-149</small>
                            </div>
                          </div>
                        </td>


                      </tr>
            </tbody>
          </table>

</div>
