<div class="animated fadeIn">

  <div class="card">

    <div class="card-header">
      <div class="h3">Pensums Cursos</div>
    </div>

    <div class="card-body">

      <div class="p-3 border rounded">

        <form [formGroup]="formFiltro" id="form-filtro">

          <div class="form-row">

            <div class="col-sm-7">
              <div class="form-group">

                <label for="za-carrera">Carrera</label>
                <select (change)="onCambioCarrera()" formControlName="za_carrera" id="za-carrera" class="custom-select">
                  <option *ngFor="let c of carreras" [ngValue]="c.za_carrera" >{{c.codigo_carrera + ' ' + c.nombre_carrera}}</option>
                </select>

              </div>
            </div>

            <div class="col-sm-5">
              <div class="form-group">

                <label for="ano-pensum">Pensum</label>
                <!-- <input formControlName="ano_pensum" type="text" id="ano-pensum" class="form-control" placeholder="Pensum">-->
                <select (change)="cargarPensumsCursos()" formControlName="ano_pensum" id="ano-pensum" class="custom-select">
                  <option *ngFor="let pen of pensumsCarrera" [ngValue]="pen.ano_pensum">{{pen.ano_pensum}}</option>
                </select>

              </div>
            </div>

          </div>

        </form>

      </div>

      <hr>

      <button (click)="openModalNuevo(contentNuevo)"
              [disabled]="!formFiltro.valid"
              class="btn btn-primary pull-right mb-3">
        <em class="fa fa-check"></em>
        Agregar curso</button>

      <div class="table-responsive">
        <table class="table table-bordered table-hover">
          <thead>
          <tr>
            <th scope="col" class="col-2">Codigo</th>
            <th scope="col" class="col-sm-6 col-lg-7">Nombre</th>
            <th scope="col" class="col-sm-2 col-lg-1">Ciclo</th>
            <th scope="col" class="col-sm-2 col-lg-2">Accion</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let pc of pensumsCursos; let i = index">
            <td scope="row" class="col-2">{{pc.za_curso}}</td>
            <td class="col-sm-6 col-lg-7">{{pc.nombre_curso}}</td>
            <td class="col-sm-2 col-lg-1">{{pc.ciclo}}</td>
            <td class="col-sm-2 col-lg-2">
              <button class="btn btn-warning" (click)="openModalEdicion(contentEdicion,i)" title="editar"><em class="fa fa-pencil"></em></button>
              <button class="btn btn-danger"  (click)="eliminar(i)" title="eliminar"><em class="fa fa-trash"></em></button>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="card-footer">
      <a routerLink="/" class="btn btn-secondary pull-left">
        <i class="fa fa-close" aria-hidden="true"></i> Regresar
      </a>
    </div>
  </div>
</div>

<ng-template #contentNuevo let-modalNuevo>
  <div class="modal-header">
    <h4 class="modal-nuevo-title" >Agregar</h4>
    <button type="button" class="close" aria-label="Close" (click)="modalNuevo.dismiss('')">
      <em class="fa fa-times"></em>
    </button>
  </div>
  <div class="modal-body">

    <form (ngSubmit)="onSubmitNuevo()" [formGroup]="formNewCursoPensum" id="form-new-cursopensum">

      <div class="form-group">
        <label for="za-curso">Curso</label>
        <select formControlName="za_curso" id="za-curso" class="custom-select custom-select-lg">
          <option *ngFor="let c of cursos" [ngValue]="c.za_curso">
            {{c.nombre_curso}}
          </option>
        </select>
      </div>

      <div class="form-group">
        <label for="ciclo">Ciclo</label>
        <input formControlName="ciclo" type="number" id="ciclo" class="form-control form-control-lg">
      </div>

    </form>

    <div class="modal-footer">
      <button [disabled]="!formNewCursoPensum.valid" form="form-new-cursopensum" class="btn btn-success btn-lg">
        <em class="fa fa-save mr-3"></em>
        Guardar
      </button>
    </div>

  </div>
</ng-template>


<ng-template #contentEdicion let-modalEdicion>
  <div class="modal-header">
    <h4 class="modal-edicion-title" >Editar</h4>
    <button type="button" class="close" aria-label="Close" (click)="modalEdicion.dismiss('')">
      <em class="fa fa-times"></em>
    </button>
  </div>
  <div class="modal-body">

    <form (ngSubmit)="onSubmitEditar()" [formGroup]="formEditarCursoPensum" id="form-editar-cursopensum">

      <div class="form-group">
        <label for="edit-ciclo">Ciclo</label>
        <input formControlName="ciclo" type="number" id="edit-ciclo" class="form-control form-control-lg">
      </div>

    </form>

    <div class="modal-footer">
      <button [disabled]="!formEditarCursoPensum.valid" form="form-editar-cursopensum" class="btn btn-success btn-lg">
        <em class="fa fa-save mr-3"></em>
        Guardar cambios
      </button>
    </div>
  </div>
</ng-template>


