<div class="animated fadeIn">
  <div class="card">
    <div class="card-header">
      <div class="h3">Cantidad de cursos</div>
    </div>

    <div class="card-body">

      <div class="table-responsive">
        <table id="tabla-reporte" class="table table-bordered">
          <!--<thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Codigo Catedratico</th>
              <th scope="col">Nombre</th>
              <th scope="col">Apellido</th>
              <th scope="col">Cursos</th>
            </tr>
          </thead>-->

          <tbody>

          <tr>
            <td colspan="5">Total de cursos por catedratico</td>
          </tr>

          <tr>
            <td scope="col">#</td>
            <td scope="col-auto">Codigo Catedratico</td>
            <td scope="col">Nombre</td>
            <td scope="col">Apellido</td>
            <td scope="col">Cursos</td>
          </tr>

          <tr *ngFor="let reporte of reportes3;index as i">
            <th scope="row">{{i+1}}</th>
            <td>{{reporte.Codigo_Catedratico}}</td>
            <td>{{reporte.Nombre}}</td>
            <td>{{reporte.Apellido}}</td>
            <td>{{reporte.Cursos_asignados}}</td>
          </tr>

          </tbody>
        </table>
      </div>

      <button (click)="guardarPdf()" class="btn btn-primary mt-3 mt-md-0">Exportar a PDF</button>
      <button (click)="openModalEnvioCorreo(content)" class="btn btn-primary px-4 mt-3 mt-md-0">
        Enviar correo
      </button>

    </div>

    <div class="card-footer">
      <a routerLink="/" class="btn btn-secondary pull-left">
        <i class="fa fa-close" aria-hidden="true"></i> Regresar
      </a>
    </div>
  </div>
</div>
<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" >Enviar correo</h4>
  </div>
  <div class="modal-body">

    <form [formGroup]="formEnvioCorreo">

      <div class="form-group row">

        <label for="correo" class="col-sm-2 col-form-label"><strong>Correo</strong></label>
        <div class="col-sm-10">
          <input type="text" formControlName="correo" id="correo" class="form-control">
        </div>

      </div>


    </form>
  </div>
  <div class="modal-footer">
    <button [disabled]="!formEnvioCorreo.valid" class="btn btn-success btn-lg" (click)="onEnviarCorreo()">
      <em class="fa fa-paper-plane mr-3"></em>
      Enviar
    </button>
  </div>
</ng-template>

