

<div class="p-3 border rounded">
  <form [formGroup]="formFiltro" (ngSubmit)="onSubmit()" id="form-filtro">

    <div class="form-row">

      <div class="col-7">
        <div class="form-group">

          <label for="za-carrera">Carrera</label>
          <select formControlName="za_carrera" id="za-carrera" class="form-control">
            <option value="-1">Seleccione carrera</option>
          </select>

        </div>
      </div>

      <div class="col">
        <div class="form-group">

          <label for="ano-pensum">Pensum</label>
          <input formControlName="ano_pensum" type="text" id="ano-pensum" class="form-control" placeholder="Pensum">

        </div>
      </div>

    </div>

    <div class="form-row">

      <div class="col">
        <div class="form-group">

          <label for="za-jornada">Jornada</label>
          <select formControlName="za_jornada" id="za-jornada" class="form-control">
            <option value="-1">Seleccione jornada</option>
          </select>

        </div>
      </div>

    </div>

    <div class="form-row">

      <div class="col">
        <div class="form-group">

          <label for="ano">Año</label>
          <input formControlName="ano" type="text" id="ano" class="form-control" placeholder="Año">

        </div>
      </div>

      <div class="col">
        <div class="form-group">

          <label for="no-semestre">Semestre</label>
          <select formControlName="no_semestre" id="no-semestre" class="form-control">
            <option value="1">1</option>
            <option value="2">2</option>
          </select>

        </div>
      </div>

      <div class="col">

        <div class="form-group">

          <label for="seccion">Seccion</label>
          <input formControlName="seccion" type="text" id="seccion" class="form-control" placeholder="Seccion">

        </div>

      </div>

    </div>





    <div class="form-row">
      <div class="col">
        <input [disabled]="!formFiltro.valid" type="submit" value="Filtrar" class="btn btn-primary">
      </div>
    </div>

  </form>
</div>
