<div class="animated fadeIn">
  <div class="card">
    <div class="card-header">
      <div class="h3">Asignaciones</div>
    </div>
    <div class="card-body">

      <app-filtro-asig>

      </app-filtro-asig>

      <hr>



      <button class="pull-right btn btn-primary mb-3"><em class="fa fa-check mr-2 mt-2"></em>Nueva</button>

      <app-lista-asig
      [filtro]="filtro"
      [asignaciones]="asignaciones"
      (onchangeselection)="onChangeSelectedAsig($event)">

      </app-lista-asig>

    </div>

    <div class="card-footer">
      <a routerLink="/" class="btn btn-secondary pull-left">
        <i class="fa fa-close" aria-hidden="true"></i> Regresar
      </a>
    </div>
  </div>
</div>
