

<button (click)="openModal(content)"
    class="btn btn-primary pull-right mb-3">
        <em class="fa fa-plus mr-2"></em>
        Nuevo
</button>

<ng-template #content let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="new-curso-title">Nuevo curso</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('')">
            <em class="fa fa-times"></em>
        </button>
    </div>
    <div class="modal-body">
        <form id="form-new-curso" [formGroup]="formCurso" class="was-validated">

          <div class="form-group row">
            <label for="codigo" class="col-sm-2 col-form-label"><strong>Codigo</strong></label>
            <div class="col-sm-10">
              <input type="number" formControlName="codigo" required
                     class="form-control" id="codigo" placeholder="Codigo">
            </div>
          </div>
          <div class="form-group row">
            <label for="nombre" class="col-sm-2 col-form-label"><strong>Nombre</strong></label>
            <div class="col-sm-10">
              <input required formControlName="nombre"
                     class="form-control" id="nombre" placeholder="Nombre">
            </div>
          </div>
          <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" id="lab" formControlName="usa_laboratorio">
            <label class="custom-control-label" for="lab">Usa Laboratorio</label>
          </div>
          <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" id="activo" formControlName="activo" >
            <label class="custom-control-label" for="activo">Activo</label>
          </div>
        </form>
    </div>
    <div class="modal-footer">
      <button *ngIf="!curso" value="Guardar" class="btn btn-success btn-lg" (click)="onSubmit(modal)">
        <em class="fa fa-save mr-3"></em>
        Guardar
      </button>
      <button *ngIf="curso" value="Editar" class="btn btn-warning btn-lg">
        <em class="fa fa-pencil mr-3"></em>
        Editar
      </button>
    </div>
</ng-template>


<!-- <div class="card-header">



    <div class="h3">Nuevo Curso</div>
    <div class="card-body">
        <button class="pull-right btn btn-primary mb-3"><em class="fa fa-check mr-2"></em>Cancelar</button>
        <form [formGroup]="formCurso" (ngSubmit)="onSubmit()">
            <div class="form-row">
                <div class="col-sm-5">
                    <input formControlName="codigo" type="number" class="form-control" placeholder="Codigo">
                </div>
                <div class="col">
                    <input formControlName="nombre" type="text" class="form-control" placeholder="Nombre">
                </div>
                <div class="col-auto">
                    <input type="submit" value="Guardar" class="btn btn-primary">
                    <input type="reset" value="Cancelar" class="btn btn-danger">
                </div>
            </div>
        </form>
    </div>


    <div class="card-footer">
    <p>Total: {{cursos.length}}</p>
    <a routerLink="/" class="btn btn-secondary pull-left">
            <i class="fa fa-close" aria-hidden="true"></i> Regresar
        </a>
</div>

</div> -->
